body {
  background: white;
  font-family: "Raleway", "sans-serif";
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  /* background-color: #CDB09E; */
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #13070C;
}

#mainNavbar .navbar-brand {
  font-size: 2rem;
  color: white;
  font-weight: 100;
}

#jumbotron {
  background-image: url("../images/gallery/pexels-chevanon-317155.jpg");
}

@media(max-width: 768px){
  .navbar {
    background: #1f1f1f;
  }
}